### enumerate()
* enumerate(iterable, start = 0) 함수는 카운트와 iterable의 항목을 튜플로 묶은 형태로 반환
* 기본적으로 0으로 시작, 다른값부터 시작하려면 start값을 변경하면 됨

In [2]:
a = ['a', 'b', 'c', 'd', 'f']
list(enumerate(a))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'f')]

In [3]:
for num, letter in enumerate(a, start= 1):
  print(f'{num}은 {letter}')

1은 a
2은 b
3은 c
4은 d
5은 f

### zip()
* 2개 이상의 iterable 값을 인자로 받아 각 항목을 튜플로 짝짓기 하여 반환
* 두 iterable의 길이가 다르면 짧은 것에 맞춤

In [8]:
hour = [1, 2, 3, 4, 5, 6]
minute = ['10분', '20분', '30분']
second = [11, 22, 33, 44]
# 3개 이상도 가능, 제일 짧은거로 길이 맞춤
list(zip(hour, minute, second))

[(1, '10분', 11), (2, '20분', 22), (3, '30분', 33)]

In [9]:
for h, m, s in zip(hour, minute, second):
  print(f'{h}시 {m} {s}초')

1시 10분 11초
2시 20분 22초
3시 30분 33초

### all()/any()
* all() = iterable의 모든 항목이 참이면 True 아니면 False
* any() = iterable의 어느 하나라도 참이면 True 아니면 False

In [10]:
x = [10, True, 'a', 5<7]
y = [0, False, 'b', 5>7]

In [11]:
all(x)

True

In [12]:
all(y)

False

In [13]:
any(x)

True

In [14]:
any(y)

True

**map()/filter()**
map 함수와 filter 함수는 따로 다뤘었음