### map()

```
map(적용시킬 함수, 적용시킬 요소)
```
* 반복 가능한(iterable) 객체들을 받아서 함수에 적용해주는 함수이다.
+ 출력결과가 iterator 이기 때문에 결과를 확인 할 수 없음 따라서 자료형을 변환해 주어야됨
* lambda를 사용하여 간단하게 간단한 식의 함수는 map안에 입력가능

여러개의 정수형 인자를 한 줄에 입력받을 때

In [4]:
a, b = map(int,input().split()) #.split을 써주어야 된다.

1 2

리스트의 값들의 제곱을 반환하는 함수

In [20]:
def zegop (n):
  return n**2

x = map(zegop, [1,2,3,4,5])
print(x)
print(list(x)) # 자료형 변환 해야됨

<map object at 0x7fb019a89b90>
[1, 4, 9, 16, 25]

lambda 사용

In [23]:
y = map(lambda a : a**2, [1,2,3,4,5])
print(list(y))

[1, 4, 9, 16, 25]

###filter 함수
```
filter(적용시킬 함수, 적용시킬 요소)
```
* 반복 가능한(iterable) 요소들을 특정 조건으로 걸러서 객체를 만들어 줌
  * map 함수랑 비슷하나 map은 함수에 대입하여 값을 반환해 주고
  * filter는 함수에서 참인 값만 반환한다. (값 반환 X)
+ 출력결과가 iterator 이기 때문에 결과를 확인 할 수 없음 따라서 자료형을 변환해 주어야됨
* lambda를 사용하여 간단하게 간단한 식의 함수는 filter안에 입력가능

양수만 반환하는 필터

In [25]:
def yangsoo(n):
  return n>0

x = filter(yangsoo,[-1, 2, -3, 4, -5, 6, -7, 8, -9, 10])
print(x)
print(list(x)) # 자료형 변환 해야됨

<filter object at 0x7fb011b35410>
[2, 4, 6, 8, 10]

lambda 사용

In [27]:
y = filter(lambda a : a>0, [-1, 2, -3, 4, -5, 6, -7, 8, -9, 10])
print(list(y))

[2, 4, 6, 8, 10]

### map과 filter 차이점 보기

짝수 반환 함수와 n+1 함수 정의

In [28]:
def even(n):
  return n%2==0

def plus1(n):
  return n+1

map 과 filter를 사용하여 위 두 함수 실행시키기

In [34]:
map1 = map(even, [1,2,3,4,5,6,7,8,9,10])
map2 = map(plus1, [-1,1,2,3,4,5,6,7,8,9,10])

filt1 = filter(even, [1,2,3,4,5,6,7,8,9,10])
filt2 = filter(plus1, [-1,1,2,3,4,5,6,7,8,9,10])

print(list(map1))
print(list(map2))
print(list(filt1))
print(list(filt2))

[False, True, False, True, False, True, False, True, False, True]
[0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[2, 4, 6, 8, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**map**
* 값을 반환함으로 even함수의 True False를 반환
* plus1의 함수는 n+1을 반환

**filter**
* 참인 요소를 반환함으로 even 함수의 짝수만 반환
* plus1에선 n+1을 하였을 때 0(False)을 제외한 모든 수는 True이므로 -1을 제외한 다른요소 반환