### 리스트
* 대괄호 [ ] 사용, 각 항목을 ,로 구분
* 서로 다른 자료형의 항목들을 포함 가능

In [1]:
a = [1, 1.2, "hi", True, [1, 2], (1,2)] #서로 다른 자료형

빈 리스트 생성

In [2]:
x = []

**리스트 연산**

in 연산자 : 리스트 항목에 있는지 알려주는 논리 연산자

In [3]:
3 in [1,2,3,4,5]

True

이어 붙이기/복제

In [4]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [5]:
[1,2,3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

min()/max() 함수

In [6]:
a = [1,2,3,4,6,7]

In [7]:
max(a)

7

In [8]:
min(a)

1

len() 함수

In [10]:
len(a) #항목의 개수 반환

6

del : 리스트의 일부/전체 삭제 가능

In [21]:
a = [1,2,3,4,5]
del a[2]
print(a)

[1, 2, 4, 5]

**리스트 인덱싱/슬라이싱**

In [12]:
x = [1,2,3,4,5,6,7,8,9,10]

인덱싱

In [15]:
print(x[-1])
print(x[5])

10
6

슬라이싱

In [17]:
x[1:10:2]

[2, 4, 6, 8, 10]

In [18]:
x[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

**리스트 메서드**

In [49]:
ex = [1,2,3,4,5,"hi", "hello"]

.append() : 리스트 끝에 항목 추가. 반환값 None

In [50]:
ex.append(10)
print(ex)

[1, 2, 3, 4, 5, 'hi', 'hello', 10]

.extend() : 리스트를 연결하여 확장. 반환값 None
* ( ) 안에는 iterable자료가 들어가야된다.

In [51]:
ex.extend(["how", " are", "you"])
print(ex)

[1, 2, 3, 4, 5, 'hi', 'hello', 10, 'how', ' are', 'you']

append와 extend의 차이점
* append 는 한번에 들어가지만
* extend 는 쪼개서 들어간다

In [52]:
a = [1,2,3,4,5]

In [53]:
a.append(["hi","hello"])
print(a)

[1, 2, 3, 4, 5, ['hi', 'hello']]

In [54]:
a.extend(["hi","hello"])
print(a)

[1, 2, 3, 4, 5, ['hi', 'hello'], 'hi', 'hello']

.insert() : 지정된 인덱스에 항목 추가. 반환값 None

In [55]:
ex.insert(1, 50)
print(ex)

[1, 50, 2, 3, 4, 5, 'hi', 'hello', 10, 'how', ' are', 'you']

.pop() : 지정된 인데스의 항목 삭제 후 삭제된값 반환
* 인덱스 지정 안할 시 마지막 항목 삭제

In [56]:
b = ex.pop(1)
print(b, ex)

50 [1, 2, 3, 4, 5, 'hi', 'hello', 10, 'how', ' are', 'you']

.remove() : 지정된 항목이 처음으로 사용된 위치에서 삭제, 반환값 None
* 항목이 리스트 안에 없을 경우 오류 발생

In [57]:
ex.remove("hello")
print(ex)

[1, 2, 3, 4, 5, 'hi', 10, 'how', ' are', 'you']

.sort() : 리스트를 크기 순으로 정렬, 반환값 None
* 문자열로 이루어진 리스트도 정렬 가능
* int, str 이 혼용되어 있을경우 오류 발생

In [65]:
ex2 = [10, 5, 1, 2,4 ,9]
ex2.sort()
print(ex2)

[1, 2, 4, 5, 9, 10]

.reverse() : 리스트 항목들 순서 뒤집기, 반환값 None

In [66]:
ex2.reverse()
print(ex2)

[10, 9, 5, 4, 2, 1]

In [70]:
ex3 = [-1,2,77,4,-6, 3]
ex3.sort(reverse = True) # 역순으로 정렬
print(ex3)

[77, 4, 3, 2, -1, -6]

.index() : 지정된 항목이 처음 위치한 인덱스 반환

In [73]:
ex.index("hi")

5

.count() : 지정된 항목이 등장한 횟수 반환

In [74]:
ex.count("hi")

1

ex) 공백 기준으로 문자열을 뒤집어서 반환하는 함수

In [91]:
def reverse_words(s):
  rev = s.split()
  for i in range(len(rev)):
    rev[i] = rev[i][::-1]

  rev2 = ' '.join(map(str,rev))
  return rev2

reverse_words("안녕하세요 감사해요 잘있어요 다시만나요")

'요세하녕안 요해사감 요어있잘 요나만시다'

### 튜플
* 리스트와 비슷하지만 값 변경이 불가능.
* ( ) 사용, 각항목을 ,로 구분
* 길이가 1인 튜플은 반드시 , 붙여야됨 안 붙이면 튜플로 간주 안됨
* 연산, 인덱싱/슬라이싱 모두 리스트와 같은 형식

In [75]:
a = (1,2,3)

In [77]:
b = (1,) #길이가 1인 튜플

빈 튜플

In [80]:
c = ()

**튜플 메서드**

.index() : 지정된 항목이 처음 위치한 인덱스 반환

In [82]:
x = (1,2,3,4,5)
x.index(3)

2

.count() : 지정된 항목이 등장한 횟수 반환

In [85]:
y = (1,1,2,3,5,1,1,2,3)
y.count(1)

4

**튜플 안 다른 자료형**
* 튜플은 append메서드를 지원하지 않지만 튜플안의 리스트는 사용가능
  * 한마디로 튜플 안 자료형에 해당하는 메서드는 사용가능

In [88]:
a = (["a","b"],1,2,3)
a[0].append("c")
print(a)

(['a', 'b', 'c'], 1, 2, 3)