### 조건문
+ 조건문의 논리식 마지막에는 :(콜론)을 붙여주어야된다.
+ else if 가 아닌 elif라고 작성한다.

파이썬은 **0 < a and a < 10** 을 표현할 때 바로 **0 < x < 10** 으로 표현할 수 있다.

In [6]:
a = int(input("숫자 입력 : "))
if a < 0:
  print("a는 음수")
elif a == 0 :
  print("a는 0")
elif 0 < a <10 :
  print("a는 0~10")
else :
  print("a 는 10 이상")

숫자 입력 : 5
a는 0~10

**조건문을 이용한 삼항연산자**
* (참일 경우) if (논리식) else (거짓일 경우) 형태로 구성

In [9]:
b = int(input("양수 입력 : "))
oddeven = "짝수" if b%2 == 0 else "홀수"
print(oddeven)

양수 입력 : 5
홀수

### 반복문

**while 반복문**

    while 부울식 :
         명령문
형식으로 구성

In [12]:
a = 5
while a != 0 :
  print(a,end=' ')
  a -= 1 # a= a-1과 같음

5 4 3 2 1

**for 반복문**

    for 변수 in 범위 :
       명령문
형식으로 구성
+ range()범위값을 지정하면 초기값은 0으로 시작
* 연속된 형태의 객체(iterable)는 객체 자체를 범위로 넣을 수 있다.
  + ex)문자열, 리스트, 튜플 등등
* enumerate 라는 것을 이용하여 값과 순서를 둘다 한번에 돌릴 수 있음

In [14]:
for i in range(5):
  print(i, end=' ')

0 1 2 3 4

연속된 자료형의 for 문

In [20]:
hello = "Hello!"
for i in hello: #i가 hello안의 값 하나하나 돌아감
  print(i, end=' ')

print()

for j in range(len(hello)): #j는 hello안 값의 갯수 만큼 돌아감
  print(j, end=' ')

H e l l o !
0 1 2 3 4 5

enumerate 활용
* enumerate는 인덱스와 값으로 이루어진 튜플을 만들어준다.
* 튜플형태를 풀어주기 위해선 인자를 2개 받아 풀어주어야된다.

In [26]:
hi = "hello"
for i in enumerate(hi):
  print(i)

(0, 'h')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')

풀어주기 (unpacking)

In [25]:
py = "Python!"
for i, j in enumerate(py): # i는 인덱스, j는 값
  print(i, j)

0 P
1 y
2 t
3 h
4 o
5 n
6 !

enumerate 시작 인덱스 지정

In [24]:
py2 = "Bidan Snake"
for i, j in enumerate(py, start= 1): # 시작인덱스 지정
  print(i, j)

1 P
2 y
3 t
4 h
5 o
6 n
7 !

**pass, continue, break**
+ pass : 실행할 코드가 없는 것으로 다음 행동을 계속해서 진행
+ continue : 밑의 코드를 무시하고 다음 순번 반복을 진행
+ breake : 반복문 탈출

pass
+ 코드에 영향을 끼치지 않음
+ 동작 확인을 위해서, 오류 발생을 방지하기 위해 사용

In [27]:
for i in range(10):
  pass
  print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

continue와 break

In [31]:
for i in range(10):
  if i <= 5: 
    continue      #i 가 5 이하일 경우 다음순번으로
  elif i > 7:
    break         #i 가 7보다 클경우 탈출
  print(i)
# 따라서 출력되는건 6과 7뿐

6
7