In [1]:
import numpy as np
import pandas as pd

### 시리즈

pd.Series() : 시리즈 생성

In [3]:
ojb1 = pd.Series([4, 7, -5, 3])
ojb1

0    4
1    7
2   -5
3    3
dtype: int64

In [4]:
ojb1 = pd.Series(np.array([4, 7, -5, 3]))
ojb1

0    4
1    7
2   -5
3    3
dtype: int64

In [5]:
ojb1.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
ojb1.values

array([ 4,  7, -5,  3])

### 인덱스 지정

In [7]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [8]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

사정 형도 가능, 사전형도 인덱스 따로지정 가능

In [9]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [10]:
states = ['California', 'Ohio', 'Oregon', 'Texas']

obj4 = pd.Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [12]:
dict(obj4) #다시 사전으로 변환

{'California': nan, 'Ohio': 35000.0, 'Oregon': 16000.0, 'Texas': 71000.0}

### 시리즈 연산

넘파이 어레이처럼 항목별로 작동

In [17]:
a = pd.Series([10,8, -5, 6], index=['a', 'b', 'c', 'd'])
a

a    10
b     8
c    -5
d     6
dtype: int64

In [18]:
a * 2

a    20
b    16
c   -10
d    12
dtype: int64

In [19]:
np.exp(a)

a    22026.465795
b     2980.957987
c        0.006738
d      403.428793
dtype: float64

in 연산자 : 인덱스 사용여부를 사전의 키 사용여부와 동일한 방식으로 판단

In [21]:
'c' in a

True

pd.isnull() : 결측치는 True, 아니면 false

pd.notnull() : 결측치는 false, 아니면 true

In [26]:
pd.isnull(obj4)# 또는 obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [27]:
pd.notnull(a) # 또는 a.notnull()

a    True
b    True
c    True
d    True
dtype: bool

any()/all() : 하나라도/전체가

In [29]:
obj4.isnull().any()

True

In [30]:
a.notnull().all()

True

### 시리즈 인덱싱

어레이 방식과 동일하게 작동

In [31]:
obj2['a']

-5

In [32]:
obj2['d'] = 100
obj2

d    100
b      7
a     -5
c      3
dtype: int64

In [33]:
obj2_1 = obj2[['c', 'a', 'd']]
obj2_1

c      3
a     -5
d    100
dtype: int64

In [34]:
mask = obj2 > 0

obj2[mask]

d    100
b      7
c      3
dtype: int64

### 데이터 프레임

In [35]:
series1 = pd.Series([4, 5, 6, 3 , 1], name="Mango")
series1

0    4
1    5
2    6
3    3
4    1
Name: Mango, dtype: int64

In [36]:
series2 = pd.Series([5, 4, 3, 0, 2], name="Apple")
series2

0    5
1    4
2    3
3    0
4    2
Name: Apple, dtype: int64

In [37]:
series3 = pd.Series([2, 3, 5, 2, 7], name="Banana")
series3

0    2
1    3
2    5
3    2
4    7
Name: Banana, dtype: int64

시리즈를 사전형으로 하여 데이터 프레임 생성

In [38]:
dict1 = {series1.name:series1, series2.name:series2, series3.name:series3}
frame1 = pd.DataFrame(dict1)
frame1

   Mango  Apple  Banana
0      4      5       2
1      5      4       3
2      6      3       5
3      3      0       2
4      1      2       7

pd.concat() : 축에 따라 이어붙이기

In [41]:
pd.concat([series1, series2, series3], axis=1)

   Mango  Apple  Banana
0      4      5       2
1      5      4       3
2      6      3       5
3      3      0       2
4      1      2       7

사전형으로 데이터 프레임 만들기

In [42]:
dict2 = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada', 'NY', 'NY', 'NY'],
         'year': [2000, 2001, 2002, 2001, 2002, 2003, 2002, 2003, 2004],
         'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2, 8.3, 8.4, 8.5]}
frame2 = pd.DataFrame(dict2)
frame2

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2
6      NY  2002  8.3
7      NY  2003  8.4
8      NY  2004  8.5

중첩 사전으로 하면 키 내부의 키는 행의 인덱스로 사용

In [43]:
dict3 = {'Nevada': {2001: 2.4, 2002: 2.9},
         'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
frame3 = pd.DataFrame(dict3)
frame3

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2000     NaN   1.5

dataframe.index.name : 행 이름 지정

dataframe.columns.names : 열 이름 지정

In [44]:
frame3.index.name = 'year'
frame3.columns.name = 'state'
frame3

state  Nevada  Ohio
year
2001      2.4   1.7
2002      2.9   3.6
2000      NaN   1.5

dataframe.values : 항목들로 이루어진 2차원어레이

In [45]:
frame3.values

array([[2.4, 1.7],
       [2.9, 3.6],
       [nan, 1.5]])

In [46]:
frame2.values

array([['Ohio', 2000, 1.5],
       ['Ohio', 2001, 1.7],
       ['Ohio', 2002, 3.6],
       ['Nevada', 2001, 2.4],
       ['Nevada', 2002, 2.9],
       ['Nevada', 2003, 3.2],
       ['NY', 2002, 8.3],
       ['NY', 2003, 8.4],
       ['NY', 2004, 8.5]], dtype=object)

### columns와 index

columns 속성을 사용하여 열의 순서 및 열 추가

In [47]:
frame2 = pd.DataFrame(dict2, columns=['year', 'state', 'pop', 'debt'])
frame2

   year   state  pop debt
0  2000    Ohio  1.5  NaN
1  2001    Ohio  1.7  NaN
2  2002    Ohio  3.6  NaN
3  2001  Nevada  2.4  NaN
4  2002  Nevada  2.9  NaN
5  2003  Nevada  3.2  NaN
6  2002      NY  8.3  NaN
7  2003      NY  8.4  NaN
8  2004      NY  8.5  NaN

dataframe[열] = 값 : 새로운열 추가 및 기본값 수정 가능

In [49]:
frame2['new'] = np.linspace(1,10, 9)
frame2

   year   state  pop debt     new
0  2000    Ohio  1.5  NaN   1.000
1  2001    Ohio  1.7  NaN   2.125
2  2002    Ohio  3.6  NaN   3.250
3  2001  Nevada  2.4  NaN   4.375
4  2002  Nevada  2.9  NaN   5.500
5  2003  Nevada  3.2  NaN   6.625
6  2002      NY  8.3  NaN   7.750
7  2003      NY  8.4  NaN   8.875
8  2004      NY  8.5  NaN  10.000

In [51]:
frame2.columns #열 이름확인

Index(['year', 'state', 'pop', 'debt', 'new'], dtype='object')

index 속성 사용하여 행 이름 지정
- columns 와 index 두개 동시에 지정 가능
- 중복도 가능

In [53]:
frame2 = pd.DataFrame(dict2, columns=['year', 'state', 'pop', 'debt'],
                      index=['one', 'two', 'two', 'four',
                             'five', 'six', 'six', 'eight', 'nine'])
frame2

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
two    2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN
six    2002      NY  8.3  NaN
eight  2003      NY  8.4  NaN
nine   2004      NY  8.5  NaN

### 데이터 프레임 인덱싱

**열 인덱싱**
- 대괄호 및 속성 형식 사용 가능

In [54]:
frame2['state']

one        Ohio
two        Ohio
two        Ohio
four     Nevada
five     Nevada
six      Nevada
six          NY
eight        NY
nine         NY
Name: state, dtype: object

In [55]:
frame2.state

one        Ohio
two        Ohio
two        Ohio
four     Nevada
five     Nevada
six      Nevada
six          NY
eight        NY
nine         NY
Name: state, dtype: object

In [56]:
frame2['Ohio state'] = frame2.state == 'Ohio'
frame2

       year   state  pop debt  Ohio state
one    2000    Ohio  1.5  NaN        True
two    2001    Ohio  1.7  NaN        True
two    2002    Ohio  3.6  NaN        True
four   2001  Nevada  2.4  NaN       False
five   2002  Nevada  2.9  NaN       False
six    2003  Nevada  3.2  NaN       False
six    2002      NY  8.3  NaN       False
eight  2003      NY  8.4  NaN       False
nine   2004      NY  8.5  NaN       False

In [57]:
frame2['Ohio state'] # 속성형식으로 사용하면 공백때문에 오류

one       True
two       True
two       True
four     False
five     False
six      False
six      False
eight    False
nine     False
Name: Ohio state, dtype: bool

**열 삭제**
- del 예약어 사용시 열 삭제 가능
- drop() 사용하여 삭제 -> 원래 값에는 영향을 안미침 고로, 변수 설정해야됨

In [58]:
del frame2['Ohio state']
frame2

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
two    2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN
six    2002      NY  8.3  NaN
eight  2003      NY  8.4  NaN
nine   2004      NY  8.5  NaN

In [69]:
f2 = frame2.drop(columns='debt') 
f2

       year   state  pop
one    2000    Ohio  1.5
two    2001    Ohio  1.7
two    2002    Ohio  3.6
four   2001  Nevada  2.4
five   2002  Nevada  2.9
six    2003  Nevada  3.2
six    2002      NY  8.3
eight  2003      NY  8.4
nine   2004      NY  8.5

**행 인덱싱**
- dataframe.loc[행이름] : loc으로 행이름 지정하여 인덱싱
- dataframe.iloc[번호] : 번호로 인덱싱 가능

In [77]:
frame2.loc['four']

year       2001
state    Nevada
pop         2.4
debt        NaN
Name: four, dtype: object

In [78]:
frame2.loc[['four', 'five']] #여러개 인덱싱시 ㅁ

      year   state  pop debt
four  2001  Nevada  2.4  NaN
five  2002  Nevada  2.9  NaN

In [79]:
frame2.iloc[5:7]

     year   state  pop debt
six  2003  Nevada  3.2  NaN
six  2002      NY  8.3  NaN

**열 업데이트**

In [82]:
frame2['debt'] = np.arange(9.)
frame2

       year   state  pop  debt
one    2000    Ohio  1.5   0.0
two    2001    Ohio  1.7   1.0
two    2002    Ohio  3.6   2.0
four   2001  Nevada  2.4   3.0
five   2002  Nevada  2.9   4.0
six    2003  Nevada  3.2   5.0
six    2002      NY  8.3   6.0
eight  2003      NY  8.4   7.0
nine   2004      NY  8.5   8.0

### 데이터 프레임 연산

in 연산자 : 인덱스와 열에 대한 특정 이름 사용 여부

In [83]:
frame2

       year   state  pop  debt
one    2000    Ohio  1.5   0.0
two    2001    Ohio  1.7   1.0
two    2002    Ohio  3.6   2.0
four   2001  Nevada  2.4   3.0
five   2002  Nevada  2.9   4.0
six    2003  Nevada  3.2   5.0
six    2002      NY  8.3   6.0
eight  2003      NY  8.4   7.0
nine   2004      NY  8.5   8.0

In [87]:
'year' in frame2.columns

True

In [86]:
'two' in frame2.index

True

head(숫자)/tail(숫자) : 시작/끝에서 숫자만큼 보여줌

In [89]:
frame2.head(3)

     year state  pop  debt
one  2000  Ohio  1.5   0.0
two  2001  Ohio  1.7   1.0
two  2002  Ohio  3.6   2.0

In [90]:
frame2.tail(2)

       year state  pop  debt
eight  2003    NY  8.4   7.0
nine   2004    NY  8.5   8.0