###print() 함수
* print함수로 출력한 문자열은 ' ' 또는 " "으로 감싸야됨
* end 인자를 사용하면 print함수 마지막 효과를 변경
* sep 인자를 사용하면 콤마로 구분된 문자열을 지정된 값으로 열결해 줌

In [1]:
print("Hello python!")

Hello python!

In [6]:
for i in range(5):
  print(i, end='\t') #줄바꿈이 아닌 탭으로 끝내기
print('10')

0	1	2	3	4	10

In [10]:
print("hello", "python", "!", "hi", "!")
print("hello", "python", "!", "hi", "!",sep=' @# ') #콤마로 구분 된걸 ' @# '로 구분시키기

hello python ! hi !
hello @# python @# ! @# hi @# !

### 수학 함수

**math 모듈 (넘파이 모듈도 있음)**

In [11]:
import math

로그 함수

In [14]:
math.log10(10) #10을 밑으로 하는 상용로그

1.0

In [13]:
math.log(10) #자연로그 (ln=loge)

2.302585092994046

제곱근 함수 (루트)

In [16]:
math.sqrt(2) #2의 루트값

1.4142135623730951

지수 함수 e^x

In [17]:
math.exp(2)

7.38905609893065

### 함수 정의
```
def 함수이름(매개변수1, 매개변수2,...,매개변수n):

    명령문

    return 표현식
```
* 인자를 받지 않아도 되고, 반환값이 없어도 된다.

ex) 홀수 짝수 구분 함수

In [19]:
def oddeven (num):
  if num % 2 == 1:
    print("홀수")
  else:
    print("짝수")

oddeven(10)

짝수

ex) 리스트 값들 제곱의 합 구하는 함수

In [20]:
def square_sum(aList):

  def pow(x):
    return x**2

  a = list(map(pow,aList))
  return sum(a)

square_sum([3,5,7])

83

ex)리스트 값에서 양수로만 모아 새로운 리스트 반환하는 함수

In [21]:
def positive_list(aList):

  def positive(x):
    return x>0

  b = list(filter(positive,aList))
  return b

positive_list([-1, 1, 2, -2, 3, -3])

[1, 2, 3]

ex) 2*2 격자 무늬 크기조정 함수

In [23]:
def grid(garo, sero):
  sero1 = sero*2 +3
  garo1 = garo*2+3

  for i in range(sero1):
    if i == 0 or i == sero+1 or i == sero1-1:
      for j in range(garo1):
        if j == 0 or j == garo+1 or j == garo1-1:
          print('+',end=' ')
        else:
          print('-',end=' ')
    
    else:
      for j in range(garo1):
        if j == 0 or j==garo+1 or j == garo1-1:
          print('l',end=' ')
        else :
          print(' ',end=' ')

    print('')

grid(5,5)

+ - - - - - + - - - - - +
l           l           l
l           l           l
l           l           l
l           l           l
l           l           l
+ - - - - - + - - - - - +
l           l           l
l           l           l
l           l           l
l           l           l
l           l           l
+ - - - - - + - - - - - +

ex) 몫연산자 //와 나머지 연산자 % 사용하지 않고 몫과 나머지 반환하는 함수

In [24]:
def divide_qr(numerator, denomenator):
  a = numerator
  num = 0
  while a >= denomenator:
    a -= denomenator
    num += 1
  b = (num,a)

  return b

divide_qr(10,3)

(3, 1)