### 형변환 함수

In [15]:
a = "123456"
print(a)
type(a) #문자열형 a

123456

str

정수형 형변환 함수 int()
+ int()함수 안의 값은 문자열 "정수"여야됨.

In [16]:
b = int(a)
print(b)
type(b)

123456

int

In [17]:
notnum = "abc"
b2 = int(notnum) #오류 발생

ValueError: ignored

실수형 형변환 함수 float()
+ 실수형도 마찬가지로 실수여야됨

In [20]:
c = float(a)
print(c)
type(c)

123456.0

float

문자열 형변환 함수 str()

In [22]:
d = str(c)
print(d)
type(d)

123456.0

str

부울형 형변환 함수 bool()
+ boolean형식은 0을 제외한 모든 값이 true 이다

In [26]:
e = bool(d)
print(e)
type(e)

True

bool

In [25]:
f = bool(-1)
print(f)
type(f)

True

bool